# macos stupid
.DS_Store
._*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pyre type checker
.pyre/

# Blender incremental saves
*.blend1
*.blend2
*.blend3

# Alinsa's backup saves directory
blend.saves

# Misc
.vscode
wowbjectifier_updater
wowbjectimporter_updater
.diff
typings/
*.bak

# Probably don't need to commit logs
*.log

# various test images and such
tests/render_references/*.png
tests/render_results/*.png
tests/render_diffs/*.png
tests/render_wowtools/*.png
tests/test_data/
tests/test_data_*/
tests/report.html
